.buttonstyle {
    background-color: #808080;
    border: 0px solid;
    border-radius: 1px;
    color: #ffffff;
    text-align: center;
    font-size: 1vw;
    height: 7vh;
    width: 7vw;
}

    .buttonstyle:hover {
        background-color: #4a4453;
        transition-duration: 0.2s;
    }

    .buttonstyle:active {
        background-color: #b8acce;
    }


.image_active {
    position: absolute;
    background: white;
    height: 7vh;
    width: auto;
    vertical-align: middle;
}

    .image_active:hover {
        opacity: 0;
    }
    .image_active:active {
        opacity: 100;
    }

.image {
    vertical-align: middle;
    height: 7vh;
    width: auto;
}

.buttoncontainer {
    margin: 0;
    padding: 0;
    background-color: #dfdfdf;
}